body{
    padding: 0;
    margin: 0;
}

*{
    font-size: 20px;
}

.navbar{
    height: 50px;
    background-color: #dadada;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}
.navbar .navbar-brand{
    font-size: 25px;
    margin-right: 40px;
    color: #212121;
    text-decoration: none;
}

.navbar .navbar-nav .nav-link{
    color: #212121;
    text-decoration: none;
    margin-right: 20px;
}
.container{
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}